<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>FoodSupplierServlet</servlet-name>
        <servlet-class>controller.FoodSupplierServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FoodSupplierServlet</servlet-name>
        <url-pattern>/readfoodsupplier</url-pattern>
    </servlet-mapping>
<servlet>
    <servlet-name>AddForm</servlet-name>
    <servlet-class>controller.AddForm</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>AddForm</servlet-name>
    <url-pattern>/add</url-pattern>
</servlet-mapping>


    <!-- Add other servlets and mappings as needed -->

    
</web-app>



