/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 29. nov. 2023, 15.08.20
    Author     : Bokaj
*/

/*Base styling*/
        body {
            font-family: 'Times New Roman', Times, serif;
            background-color: #f3f3f3;
            text-align: center;
        }
        h2 {
            color: #4C654B;
            margin-bottom: 30px;
        }
        ul {
            list-style-type: none;
            padding: 0;
            margin: auto;
            width: 50%;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
            padding: 20px;
        }
        li {
            border-bottom: 1px solid #ddd;
            padding: 10px;
            font-size: 18px;
        }
        li:last-child {
            border-bottom: none;
        }
        a {
            text-decoration: none;
            color: #0D0E19;
        }
        a:hover {
            color: #CBBBA0;
        }
        .price {
            float: right;
            font-weight: bold;
        }
    

/*Menu syling*/
        nav {
          display: flex;
        }

        nav a {
          color: white;
          text-decoration: none;
          padding: 3vh;
          font-size: 2.5vh;
          font-weight: bold;
        }
        
        /*Username placing*/
        .user-name-placeholder {
          color: white;
          text-decoration: none;
          padding: 3vh;
          font-size: 2.5vh;
          font-weight: bold;
          padding-left: 120vh;
        }
        
        /*Main attributes for square "class"*/
        .square {
          background-color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 10vh; /* adjusting the height off all squares, default value */
        }
        
        /* Customize the content inside the squares */
        .square-content {
          text-align: center;
          color: white;
          margin-bottom: 10px;
          padding-top: 10px;
        }

          /*Classes under main "square" class that can have local values based on use*/
          #square1 {
            background-color: #CBBBA0;
            justify-content: left;
            
          }

          #square2 {
            background-color: #4C654B;
            height: 2vh;
            color: white;
            font-size: 8px;  
          }

          #square3 {
            background-color: #0D0E19; /*black'ish background'*/
            height: 10vh;
          }
          
          #square4 {
              background-color: #0D0E19; /*black'ish background'*/
             height: 10vh;
          }

          #square4 form {
              width: 300px;
              margin: 0 auto;
          }

          #square4 label {
              display: block;
              margin-bottom: 5px;
          }

          #square4 input {
              width: 100%;
              padding: 8px;
              margin-bottom: 10px;
          }
          

        /* Style for the search bar */        
        .search-bar {
          width: 70%;
          padding-top: 100px;
          border:1px solid #0D0E19;
          border-color: red; /* Replace 'yourBorderColor' with the color you want */
        }

        /*input so you can fill out the search bar*/
        input[type="text"] {
          width: 70%;
          padding: 5px;
          /*border: none;*/
          border-radius: 5px 0 0 5px;
          font-size: 20px;
          border-color: darkblue; /* Replace 'yourBorderColor' with the color you want */
        }
            
        .title {
          text-align: center;
          position: absolute;
          color: #0D0E19;
          font-weight: bold;
          font-size: 36px;
          margin-bottom: 100px;
          margin-top: 100px;
        }

        /* Style for the logout button */
            .logout-button {
                display: inline-block;
                padding: 10px 20px;
                background-color: red; /* Choose your desired background color */
                color: #fff; /* Choose your desired text color */
                text-decoration: none;
                border-radius: 5px;
                font-weight: bold;
            }

            /* Style for hover effect */
            .logout-button:hover {
                background-color: green; /* Change color on hover */
            }
                
